{% extends 'base.html.twig' %}

{% block title %}Hello AdController!{% endblock %}

{% block body %}
    <div>
        <section>
            <header>
                <h2>{{ ad.title }}</h2>
            </header>
            <main>
                <p>{{ ad.description }}</p>
                <span>{{ ad.price }}€</span>
            </main>
        </section>
        <section>
            {% if is_granted('ROLE_USER') %}
                <form action="/question/add" method="post">
                    <label>
                        <textarea placeholder="Votre question" name="questionText"></textarea>
                    </label>
                    <input type="hidden" name="adSlug" value="{{ ad.slug }}">
                    <input type="submit">
                </form>
            {% else %}
                <p>Merci de vous connecter pour poser une question</p>
            {% endif %}

            <h3>Questions</h3>
            <hr/>
            {% for question in ad.questions %}
                <article>
                    <h4>Question de {{ question.usr.name }} : </h4>
                    <p>{{ question.text }}</p>
                    <p style="color: grey;">{{ question.createdAt|date('Y-m-d') }}</p>
                    <section>
                        {% if is_granted('ROLE_USER') %}
                            <form action="/answer/add" method="post">
                                <label>
                                    <textarea placeholder="Votre réponse" name="answerText"></textarea>
                                </label>
                                <input type="hidden" name="adSlug" value="{{ ad.slug }}">
                                <input type="hidden" name="questionId" value="{{ question.id }}">
                                <input type="submit">
                            </form>
                        {% else %}
                            <p>Merci de vous connecter pour répondre</p>
                        {% endif %}
                        <h5>Réponses</h5>
                        <hr/>
                        <p>Listes :</p>
                        {% for answer in question.answers %}
                            <article>
                                <h6>{{ answer.author.name }} a répondu :</h6>
                                <p>{{ answer.text }}</p>
                                <p style="color: grey;">{{ answer.createdAt|date('Y-m-d') }}</p>
                            </article>
                        {% endfor %}
                    </section>
                </article>
            {% endfor %}
        </section>
    </div>
{% endblock %}