{% block body %}
    <div class="col-12 col-md-6 col-xl-3 m-3">
        <div class="card">
            <div class="card-body">
                <article>
                    <div class="col-12">
                        <img src="{{ asset(ad.fetchImages[0]) | imagine_filter('thumbnail') }}" alt="">

                    </div>
                    <div class="col-12">
                        <h5 class="card-title">{{ ad.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ ad.user.name }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Votes : {{ ad.votes }}</h6>

                        <h6 class="card-subtitle mb-2 text-muted">Prix : {{ ad.price }} €
                            | {{ ad.creationDate | date("m/d/Y") }}</h6>
                        <p>
                            <a class="card-subtitle mb-2 text-muted"
                               href="{{ path('lbcdp_showprofile', { 'email': ad.user.email }) }}">{{ ad.user.name }}</a>
                        </p>

                        {{ include('tag/show-all.html.twig', {'ad': ad}) }}

                        <a class="btn btn-secondary" href="{{ path('lbcdp_ad_show',{slug: ad.slug}) }}">Voir
                            l'annonce</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}