{% extends 'base.html.twig' %}
{% block title %}S'inscrire{% endblock %}

{% block body %}
    {{ form_start(userForm) }}
    <div class="row">
        <div class="col-6 d-flex flex-column mx-auto">
            <div class="row">
                <div class="col-6">
                    {{ form_row(userForm.firstName, { 'label': 'Prénom' }) }}
                </div>
                <div class="col-6">
                    {{ form_row(userForm.lastName, { 'label': 'Nom' }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(userForm.email) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form_row(userForm.password.first) }}
                </div>
                <div class="col-6">
                    {{ form_row(userForm.password.second) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(userForm.profilePicture) }}
                </div>
            </div>
    {{ form_row(userForm.submit, { 'label': 'Envoyer le formulaire' }) }}
        </div>
    </div>
    {{ form_end(userForm) }}
{% endblock %}